/* container */
.container {
  width: 80%;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* search bar */
.search-bar input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

/* add post section */
.add-post {
  margin-bottom: 30px;
}

/* my posts section */
.my-posts {
  width: 100%;
  max-width: 300px;
  margin-right: 20px;
  color: #db2b2b;
}

.my-posts h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.my-posts ul {
  list-style: none;
  padding: 0;
}

.my-posts li {
  margin-bottom: 10px;
}

.my-posts button {
  background-color: #fbeeee84;
  color: #333;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.my-posts button:hover {
  background-color: #fbeeee84;
}

/* selected post - will appear to the right of the screen */
.selected-post {
  position: fixed;
  top: 10%;
  right: 0;
  width: 30%;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 1000; /* מוודא שזה יופיע מעל שאר התוכן */
}

.selected-post h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.selected-post p {
  font-size: 16px;
  margin-bottom: 10px;
}
