body {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0; /* כדי להסיר רווחים שמופיעים בדרך כלל */
  font-family: Arial, sans-serif; /* בחרתי גופן קריא */
}
.todos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.todos-header {
  font-size: 2rem;
  margin-bottom: 20px;
}

.exit-btn, .add-todo-btn, .search-btn, .save-btn, .update-btn, .cancel-btn, .delete-btn, .edit-btn {
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
}

.add-todo-btn, .exit-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  font-size: 1rem;
  margin-right: 10px;
}

.sort-select {
  margin-bottom: 20px;
  padding: 10px;
}

.add-todo-form, .edit-todo-form {
  margin-bottom: 20px;
}

.todo-input {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  width: 200px;
}

.save-btn, .update-btn, .cancel-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.todo-checkbox {
  margin-right: 10px;
}

.delete-btn, .edit-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
}

.edit-btn {
  background-color: #ff9800;
}

.delete-btn:hover, .edit-btn:hover {
  background-color: #d32f2f;
}

.edit-btn:hover {
  background-color: #e65100;
}

